.bg-hero {
    &-home {
        background: url("../../images/home/bg-hero-home.png") no-repeat top / cover;
    }
    &-blog {
        background: url("../../images/blog/bg-hero-blog.png") no-repeat top / cover;
    }
    &-about-us {
        background: url("../../images/about-us/bg-hero-about-us.png") no-repeat top / cover;
    }
    &-live-plant {
        background: url("../../images/live-plant/bg-hero-live-plant.png") no-repeat top / cover;
    }
    &-article {
        background: url("../../images/article/bg-hero-article.png") no-repeat top / cover;
    }
}

.input{
    &-subscription {
        max-width: 100%;
        width: 100%;
        border: none; 
        border-radius: none !important;
        outline: none !important;
        background: none;
        border-bottom: 1px solid #fff;
        font-size: 1rem;
        line-height: 1.5;
        padding-bottom: calc(0.5em - 1px);
        padding-left: calc(0.75em - 1px);
        padding-right: calc(0.75em - 1px);
        padding-top: calc(0.5em - 1px);
        position: relative;
        vertical-align: top;

        &:focus, &:active {
            outline: none !important;
            outline-width: 0;
        }
    }
}

.br {
    &-1 {
        border-radius: 0.25rem;
    }
    &-2 {
        border-radius: 0.5rem;
    }
    &-3 {
        border-radius: 0.75rem;
    }
    &-4 {
        border-radius: 1rem;
    }
    &-5 {
        border-radius: 1.5rem;
    }
    &-6 {
        border-radius: 6rem;
    }
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

// Style untuk cart
.cart-number {
    &-plus, &-minus {
        width: 34px;
        height: 34px;
        border-radius: 4px;
        // padding: 4px 8px 4px 8px;        
        padding-bottom: calc(0.5em - 1px);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: calc(0.5em - 1px);
        border: 1px solid #ddd;
        // display: inline-block;        
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
    }
    &-input {
        height:34px;
        width: 50px;
        text-align: center;
        font-size: 26px;
		border:1px solid #ddd;
		border-radius:4px;
        display: inline-block;
        vertical-align: middle;
    }
}